<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>This is home page</title>
</head>
<body>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-2">
                <div class="my-card p-2 mt-2">

                    <div th:if="${session.message}" th:classappend="${session.message.type}" class="alert " role="alert">
                        <p class="text-center" th:text="${session.message.content}"></p>
                        <th:block th:text="${#session.removeAttribute('message')}"></th:block>
                    </div>

                    <div class="container text-center">
                        <img style="width:80px" src="" th:src="@{/img/membership.png}" alt="">
                    </div>
                    <h1 class="text-center">Register Here!!</h1>

                    <form  novalidate action="" th:action="@{/do_register}" method="post" th:object="${user}">

                        <div class="mb-3">
                            <label for="name_field" class="form-label">Your Name</label>
                            <input name="name"
                                   type="text"
                                   class="form-control  "
                                   th:classappend="${#fields.hasErrors('name') ? 'is-invalid' : ''}"
                                   id="name_field"
                                   placeholder="Enter here"
                                   required
                                   th:value="${user.name}">

                            <div class="invalid-feedback" th:each="e : ${#fields.errors('name')}" th:text="${e}">
                            </div>
                        </div>

                        <div class="mb-3">
                            <label for="email_field" class="form-label">Your Email</label>
                            <input type="email" class="form-control" id="email_field" name="email"
                                   placeholder="name@example.com" required th:value="${user.email}">
                        </div>

                        <div class="mb-3">
                            <label for="password_field" class="form-label">Your Password</label>
                            <input type="password" class="form-control" id="password_field" name="password"
                                   placeholder="Enter here" required>
                        </div>

                        <div class="mb-3">
                            <textarea th:value="${user.about}" rows="6" name="about"
                                      placeholder="Enter something yourself" class="form-control"></textarea>
                        </div>

                        <!--                        terms and condition agreement-->
                        <div class="form-group form-check">
                            <input type="checkbox" name="agreement" id="agreement" class="form-check-input">
                            <label for="agreement">Accept terms and conditions</label>
                        </div>

                        <div class="container text-center">
                            <button type="submit" class="btn bg-primary  text-white">Submit</button>
                            <button type="reset" class="btn btn-warning text-white ">Reset</button>

                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>

</section>
</body>
</html>